{% extends 'base.html' %}

{% block content %}
<section class="container my-5 px-4">
  <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
  <p class="text-center my-4">Создайте короткую ссылку автоматически или предложите свой вариант.</p>
  <div class="container">
    <div class="row my-3">
      <div class="col-sm-6 offset-sm-3">
        <form method="POST">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.original_link(class="form-control form-control-lg py-3 mb-3", placeholder=form.original_link.label.text) }}
          </div>
          <div class="form-group">
            {{ form.custom_id(class="form-control form-control-lg py-3 mb-3", placeholder=form.custom_id.label.text) }}
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <p><span style="color:red">{% for category, message in messages %}{{ message }}{% endfor %}</span></p>
              {% endif %}
            {% endwith %}
          </div>
          {{ form.submit(class="btn btn-primary py-3") }}
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
